<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogiTrack | Logistics Solutions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">LogiTrack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Shipments</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Tracking</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Track Consignment</h2>
        <form method="POST">
            <div class="form-group">
                <input type="text" name="search" class="form-control" placeholder="Enter consignment number">
            </div>
            <button type="submit" class="btn btn-primary">Track</button>
        </form>
        {% if result %}
            <div class="mt-4">
                <h5>Result:</h5>
                <pre>{{ result }}</pre>
            </div>
        {% endif %}
    </div>
</body>
</html>
